@tailwind components;
@tailwind utilities;

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
    list-style:none;
    margin:0;
    padding:0;
}

@layer utilities {

  .label {
    @apply text-gray-700;
  }

  .secondary-label {
    @apply text-gray-600;
  }

}

.prose :where(code):not(:where([class~="not-prose"] *))::before {
  content: "" !important;
}

.prose :where(code):not(:where([class~="not-prose"] *))::after {
  content: "" !important;
}

.prose :where(code):not(:where([class~="not-prose"] *)):not(pre code) {
    @apply bg-gray-200 rounded;
    overflow-x: auto;
    font-weight: 400;
    font-size: 0.875em;
    padding: 0.1em 0.25em;
}